<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SmartLogistics</title>
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-geo/build/index.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">관리자 - 메인 페이지입니다.</h1>
        <div class="grid grid-cols-2 gap-4">
            <div class="bg-white p-4 rounded shadow">
                <canvas id="chart1"></canvas>
            </div>
            <div class="bg-white p-4 rounded shadow">
                <canvas id="chart2"></canvas>
            </div>
            <div class="bg-white p-4 rounded shadow">
                <canvas id="chart3"></canvas>
            </div>
            <div class="bg-white p-4 rounded shadow">
                <canvas id="chart4"></canvas>
            </div>
            <div class="bg-white p-4 rounded shadow">
                <canvas id="chart5"></canvas>
            </div>
            <div class="bg-white p-4 rounded shadow">
                <canvas id="chart6"></canvas>
            </div>
        </div>
    </div>
    <script src="/js/admin_main_charts.js"></script>
</body>
</html>