<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="container">
        <a href="/admin-login" class="icon-box">
            <img th:src="@{/images/admin_icon.png}" alt="Admin Login">
            <span>관리자 접속</span>
        </a>

        <a href="/worker-login" class="icon-box">
            <img th:src="@{/images/worker_icon.png}" alt="Worker Login">
            <span>작업자 접속</span>
        </a>
    </div>
</body>
</html>
