<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="~{/thymeleaf/html/default_layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/sidebar.css}" />
</th:block>

<th:block layout:fragment="wrapper">
    	<div class="outside-container">
        	<div class="main-container">
                <div th:replace="~{thymeleaf/html/include::profile}"></div>
            	<div th:replace="~{thymeleaf/html/include::sidebar}"></div>
            	<div layout:fragment="content" class="main-content">
            	
            	
            	
            	
            	
            	
            	
            	
            	
            	
            	
            	</div>
        	</div>
        </div>
    </th:block>
</html>