@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* 스크롤 숨기기 */
    margin: 0; /* 여백 제거 */
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 200px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.icon-box img {
    width: 300px; 
    height: auto;
}

.modal-dialog {
    max-width: 500px;
    width: 100%;
    z-index: 1050 !important; /* 모달이 화면 위에 표시되도록 */
}

.modal-backdrop {
    display: none !important;
}
