@charset "UTF-8";

/* 페이지 컨텐츠 중앙 정렬 (약간 상단 배치) */
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}