body {
    background-color: #f3f4f6;
}

.container {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 0.8fr));
    gap: 15px;
}

.grid > div {
    background-color: white;
    padding: 12px;
    border-radius: 14px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* 메인 콘텐츠 */
.main-content {
	position: absolute;
	width: calc(100% - 380px);
	max-height: calc(100vh - 220px);
	right: 40px;
	top: 120px;
	margin-bottom: 40px;
	
 	background: transparent !important;
 	border-radius: 14px;
    overflow-y: auto;
}
