.main-content canvas {
	position: absolute;
	left: 30%;
	top: 20;
 }
 
 .narrow-element {
	width: 10%;
	min-width: 150px; /* 최소 너비 설정 */
	margin: 0 auto; /* 중앙 정렬 */
 }
 
 /* boxList 내부 아이템의 스타일 */
 #boxList .list-group-item {
	word-wrap: break-word; /* 긴 텍스트 줄바꿈 */
 }
 
 #boxList .selected {
	background-color: #f8f0ff;
 }