<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{/thymeleaf/html/common/default_layout}">


<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
	<link rel="stylesheet" th:href="@{/css/admin/admin_product.css}">

	<!-- 제이쿼리 -->
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>

	<!-- 부트스트랩 -->
    <link 
        th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css}" 
        rel="stylesheet" 
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
        crossorigin="anonymous"/>
    <script 
        th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js}" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
        crossorigin="anonymous">
	</script>
</head>

<body>
<th:block layout:fragment="wrapper">
	<div class="outside-container">
		<div class="main-container">
			<div th:replace="~{thymeleaf/html/common/include::profile}"></div>
			<div th:replace="~{thymeleaf/html/common/include::sidebar}"></div>
			<div th:replace="~{thymeleaf/html/common/include::logout}"></div>
			<!-- 메인 컨텐츠 부분 -->
			<div layout:fragment="content" class="main-content">
				<!-- 상단 컨트롤 바 --> 
                <div class="control-bar">
                    <div class="left-controls">
                        <!-- 물품 번호 검색바 -->
                        <div class="search-container">
                            <input type="text" id="productNameSearch" class="search-input" placeholder="Search products">
                            <div class="search-icon">
                                <div class="magnifier">
                                    <div class="magnifier-circle"></div>
                                    <div class="magnifier-line"></div>
                                </div>
                            </div>
                            <button id="searchProductBtn">검색</button>
                        </div>
                        
                        <!-- 전체 필터 -->
                        <div class="toggle-group">
                            <!-- 목적지 필터 -->
                            <div class="toggle-container">
                                <div class="toggle-select" onclick="toggleDropdown('categoryMenu')">
                                    Category
                                    <svg class="arrow-icon" width="10" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L5.97126 6L11 1" stroke="#68269E" stroke-width="1.2" stroke-linecap="round"/>
                                    </svg>
                                </div>
                                <div class="toggle-menu" id="categoryMenu">
                                    <div class="toggle-item" data-value="" onclick="selectItem(this, 'categoryMenu', '')">전체</div>
                                    <div class="toggle-item" data-value="가공식품" onclick="selectItem(this, 'categoryMenu', '가공식품')">가공식품</div>
                                    <div class="toggle-item" data-value="건강기능식품" onclick="selectItem(this, 'categoryMenu', '건강기능식품')">건강기능식품</div>
                                    <div class="toggle-item" data-value="그 밖의 화장품류" onclick="selectItem(this, 'categoryMenu', '그 밖의 화장품류')">그 밖의 화장품류</div>
                                    <div class="toggle-item" data-value="세정용 화장품류" onclick="selectItem(this, 'categoryMenu', '세정용 화장품류')">세정용 화장품류</div>
                                    <div class="toggle-item" data-value="세제류" onclick="selectItem(this, 'categoryMenu', '세제류')">세제류</div>
                                    <div class="toggle-item" data-value="음료" onclick="selectItem(this, 'categoryMenu', '음료')">음료</div>
                                    <div class="toggle-item" data-value="의류" onclick="selectItem(this, 'categoryMenu', '의류')">의류</div>
                                    <div class="toggle-item" data-value="의약외품류" onclick="selectItem(this, 'categoryMenu', '의약외품류')">의약외품류</div>
                                    <div class="toggle-item" data-value="잡화류" onclick="selectItem(this, 'categoryMenu', '잡화류')">잡화류</div>
                                    <div class="toggle-item" data-value="전자제품류" onclick="selectItem(this, 'categoryMenu', '전자제품류')">전자제품류</div>
									<div class="toggle-item" data-value="제과류" onclick="selectItem(this, 'categoryMenu', '제과류')">제과류</div>
                                </div>
                                <!-- hidden input 추가 -->
                                <input type="hidden" id="categoryFilter" value="" />
                            </div>
                        
                            <!-- 목적지 필터 -->
                            <div class="toggle-container">
                                <div class="toggle-select" onclick="toggleDropdown('fragileMenu')">
                                    Fragile
                                    <svg class="arrow-icon" width="10" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L5.97126 6L11 1" stroke="#68269E" stroke-width="1.2" stroke-linecap="round"/>
                                    </svg>
                                </div>
                                <div class="toggle-menu" id="fragileMenu">
                                    <div class="toggle-item" data-value="" onclick="selectItem(this, 'fragileMenu', '')">전체</div>
                                    <div class="toggle-item" data-value="true" onclick="selectItem(this, 'fragileMenu', 'true')">Yes</div>
                                    <div class="toggle-item" data-value="false" onclick="selectItem(this, 'fragileMenu', 'false')">No</div>
                                </div>
                                <!-- hidden input 추가 -->
                                <input type="hidden" id="fragileFilter" value="" />
                            </div>
                        </div>
                        <button class="inquiry-btn" id="filterBtn">조회</button>
				    </div>

                    <div class="right-controls">
                        <!-- Export 버튼 -->
                        <button class="custom-btn btn-export" id="downloadExcelBtn">
                        	<i class="export-icon"></i>
                        	Export
                        </button>

                    	<!-- 물품 추가 버튼 -->
						<button class="custom-btn btn-add" id="addBtn">
							<span class="plus-icon">+</span>
							Add Product
						</button>
                    </div>
            	</div> <!-- 상단 컨트롤 바 끝 -->

				<!-- 물품 목록 테이블 -->
				<div class="table-container">
					<table class="product-table">
						<colgroup>
							<col style="width: 5%">   <!-- product_id -->
							<col style="width: 20%">  <!-- product_name -->
							<col style="width: 11%">  <!-- width -->
							<col style="width: 11%">  <!-- depth -->
							<col style="width: 11%">  <!-- height -->
							<col style="width: 11%">  <!-- weight -->
							<col style="width: 14%">  <!-- category -->
							<col style="width: 5%">  <!-- fragile -->
							<col style="width: 12%">  <!-- edit,delete -->
						</colgroup>
						<thead>
							<tr>
								<th class="align-center">#</th>
								<th class="align-left">Product Name</th>
								<th class="align-center">Width</th>
								<th class="align-center">Depth</th>
								<th class="align-center">Height</th>
								<th class="align-center">Weight</th>
								<th class="align-left">Category</th>
								<th class="align-center">Fragile</th>
								<th class="align-center">    </th>
							</tr>
						</thead>
						<tbody id="productTableBody">
							<!-- 물품 데이터가 여기에 추가됨 -->
						</tbody>
					</table>
				</div>


				<!-- 페이지네이션 -->
				<div class="pagination">
					<button id="prevGroup">
						<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.01488 2.61115C9.07878 2.54353 9.12874 2.46398 9.1619 2.37704C9.19506 2.29011 9.21077 2.1975 9.20814 2.10449C9.20551 2.01149 9.18459 1.91991 9.14657 1.83499C9.10854 1.75007 9.05417 1.67347 8.98654 1.60957C8.91892 1.54566 8.83937 1.4957 8.75243 1.46254C8.6655 1.42938 8.57289 1.41367 8.47988 1.4163C8.38688 1.41893 8.2953 1.43985 8.21038 1.47788C8.12546 1.5159 8.04886 1.57028 7.98496 1.6379L1.96413 8.0129C1.83979 8.14442 1.77051 8.31854 1.77051 8.49953C1.77051 8.68051 1.83979 8.85463 1.96413 8.98615L7.98496 15.3619C8.04844 15.431 8.12502 15.4868 8.21025 15.526C8.29549 15.5653 8.38767 15.5872 8.48145 15.5906C8.57523 15.5939 8.66873 15.5785 8.75654 15.5454C8.84434 15.5123 8.92469 15.4621 8.99291 15.3977C9.06114 15.3332 9.11589 15.2559 9.15397 15.1701C9.19206 15.0844 9.21272 14.9919 9.21476 14.8981C9.21681 14.8043 9.20019 14.711 9.16587 14.6236C9.13156 14.5363 9.08023 14.4567 9.01488 14.3893L3.45304 8.49953L9.01488 2.61115Z" fill="black"/>
						</svg>
					</button>
					<span id="pageNumbers"></span>
					<button id="nextGroup">
						<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.98512 2.61115C7.92122 2.54353 7.87126 2.46398 7.8381 2.37704C7.80494 2.29011 7.78923 2.1975 7.79186 2.10449C7.79449 2.01149 7.81541 1.91991 7.85343 1.83499C7.89146 1.75007 7.94583 1.67347 8.01346 1.60957C8.08108 1.54566 8.16063 1.4957 8.24757 1.46254C8.3345 1.42938 8.42711 1.41367 8.52012 1.4163C8.61312 1.41893 8.7047 1.43985 8.78962 1.47788C8.87454 1.5159 8.95114 1.57028 9.01504 1.6379L15.0359 8.0129C15.1602 8.14442 15.2295 8.31854 15.2295 8.49953C15.2295 8.68051 15.1602 8.85463 15.0359 8.98615L9.01504 15.3619C8.95156 15.431 8.87498 15.4868 8.78975 15.526C8.70451 15.5653 8.61233 15.5872 8.51855 15.5906C8.42477 15.5939 8.33127 15.5785 8.24346 15.5454C8.15566 15.5123 8.07531 15.4621 8.00709 15.3977C7.93886 15.3332 7.88411 15.2559 7.84603 15.1701C7.80794 15.0844 7.78728 14.9919 7.78524 14.8981C7.78319 14.8043 7.79981 14.711 7.83413 14.6236C7.86844 14.5363 7.91977 14.4567 7.98512 14.3893L13.547 8.49953L7.98512 2.61115Z" fill="black"/>
						</svg>
					</button>
				</div>

	


			<!-- 물품 추가, 수정 시 뜰 모달창 -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
				<div class="modal-dialog modal-full" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Add
								Product</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
								<span class="visually-hidden">Close</span>
							</button>
						</div>
						<div class="modal-body">
							<form th:action="@{/admin/product/add}" method="post" id="productAdd">
								<div class="form-group">
									<label for="modalName">Name</label>
									<input id="modalName" type="text" name="name" class="form-control custom-input" required />
								</div>
								<div class="form-group">
									<label for="modalWidth">Width</label>
									<input id="modalWidth" type="number" name="width" class="form-control custom-input" required />
								</div>
								<div class="form-group">
									<label for="modalDepth">Depth</label>
									<input id="modalDepth" type="number" name="depth" class="form-control custom-input" required />
								</div>
								<div class="form-group">
									<label for="modalHeight">Height</label>
									<input id="modalHeight" type="number" name="height" class="form-control custom-input" required />
								</div>
								<div class="form-group">
									<label for="modalWeight">Weight</label>
									<input id="modalWeight" type="number" name="weight" class="form-control custom-input" required />
								</div>
								<div class="form-group">
									<label for="modalCategory">Category</label>
									<select id="modalCategory" name="category" class="form-control custom-select" required>
										<option value="">선택하세요</option>
										<option value="잡화류">잡화류</option>
										<option value="전자제품류">전자제품류</option>
										<option value="가공식품">가공식품</option>
										<option value="제과류">제과류</option>
										<option value="음료">음료</option>
										<option value="의류">의류</option>
										<option value="세정용 화장품류">세정용 화장품류</option>
										<option value="그 밖의 화장품류">그 밖의 화장품류</option>
										<option value="의약외품류">의약외품류</option>
										<option value="세제류">세제류</option>
										<option value="건강기능식품">건강기능식품</option>
									</select>
								</div>
								<div class="form-group checkbox-group">
									<label for="fragileCheckbox">Fragile</label>
									<input type="checkbox" name="isFragile" id="fragileCheckbox" class="custom-checkbox" value="1" />
									<input type="hidden" name="isFragileHidden" id="isFragileHidden" value="0" />
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary custom-add-btn" id="submit-btn">Submit</button>
							<button type="button" class="btn btn-secondary custom-close-btn" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<script th:src="@{/js/admin/admin_product.js}"></script>

</body>
</html>
