<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{/thymeleaf/html/common/default_layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
	<link rel="stylesheet" th:href="@{/css/admin/admin_stacking.css}" />
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}">
	<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js}"></script>
</th:block>

<th:block layout:fragment="wrapper">
	<div class="outside-container">
		<div class="main-container">
			<div th:replace="~{thymeleaf/html/common/include::profile}"></div>
			<div th:replace="~{thymeleaf/html/common/include::sidebar}"></div>
			<div th:replace="~{thymeleaf/html/common/include::logout}"></div>
			<div layout:fragment="content" class="main-content">

				<script th:src="@{https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js}"></script>
				<script type="importmap">
		        {
        		    "imports": {
            		    "three": "https://cdn.jsdelivr.net/npm/three@0.173.0/build/three.module.js"
            		}
        		}
    			</script>

				<div class="container">
					<h1>관리자 - 적재 시뮬레이터 페이지입니다.</h1>
					<div class="form-group float-start narrow-element mt-5">
						<!-- 콤보박스 -->
						<select class="form-control" id="palletSelect">
							<option value="">Loading...</option>
							<!-- 기본 옵션 -->
						</select>
					</div>
					<div class="clearfix"></div>
					<div id="boxList" class="list-group mt-3 float-start narrow-element">
						<!-- 박스 정보가 여기에 동적으로 추가됩니다 -->
					</div>
				</div>

				<script type="module" th:src="@{/js/admin/admin_stacking_three.js}"></script>

			</div>
		</div>
	</div>
</th:block>
</html>