<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/thymeleaf/html/common/default_layout}">

<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
        <link rel="stylesheet" th:href="@{/css/admin/admin_progress.css}" />
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
	</th:block>
</head>

<body>
<th:block layout:fragment="wrapper">
    <div class="outside-container">
        <div class="main-container">
            <div th:replace="~{thymeleaf/html/common/include::profile}"></div>
            <div th:replace="~{thymeleaf/html/common/include::sidebar}"></div>
            <div th:replace="~{thymeleaf/html/common/include::logout}"></div>
            <div layout:fragment="content" class="main-content">
                <!-- 상단 컨트롤 바 -->
                <div class="control-bar">
                    <div class="left-container">
                        <!-- 전체 필터 -->
                        <div class="dropdown-group">
                            <!-- 박스규격 필터 -->
                            <div class="dropdown-container">
                                <div class="dropdown-select" onclick="toggleDropdown('boxSpecMenu')">
                                    박스 규격
                                    <svg class="arrow-icon" width="10" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L5.97126 6L11 1" stroke="#68269E" stroke-width="1.2" stroke-linecap="round"/>
                                    </svg>
                                </div>
                                <div class="dropdown-menu" id="boxSpecMenu">
                                    <div class="dropdown-item" data-value="" onclick="selectItem(this, 'boxSpecMenu', '')">전체</div>
                                    <div class="dropdown-item" data-value="1" onclick="selectItem(this, 'boxSpecMenu', '1')">1호</div>
                                    <div class="dropdown-item" data-value="2" onclick="selectItem(this, 'boxSpecMenu', '2')">2호</div>
                                    <div class="dropdown-item" data-value="3" onclick="selectItem(this, 'boxSpecMenu', '3')">3호</div>
                                    <div class="dropdown-item" data-value="4" onclick="selectItem(this, 'boxSpecMenu', '4')">4호</div>
                                    <div class="dropdown-item" data-value="5" onclick="selectItem(this, 'boxSpecMenu', '5')">5호</div>
                                    <div class="dropdown-item" data-value="6" onclick="selectItem(this, 'boxSpecMenu', '6')">6호</div>
                                </div>
                                <!-- hidden input 추가 -->
                                <input type="hidden" id="boxSpecFilter" value="" />
                            </div>
                        
                            <!-- 박스상태 필터 -->
                            <div class="dropdown-container">
                                <div class="dropdown-select" onclick="toggleDropdown('boxStateMenu')">
                                    박스 상태
                                    <svg class="arrow-icon" width="10" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L5.97126 6L11 1" stroke="#68269E" stroke-width="1.2" stroke-linecap="round"/>
                                    </svg>
                                </div>
                                <div class="dropdown-menu" id="boxStateMenu">
                                    <div class="dropdown-item" data-value="" onclick="selectItem(this, 'boxStateMenu', '')">전체</div>
                                    <div class="dropdown-item" data-value="0" onclick="selectItem(this, 'boxStateMenu', '0')">미검사</div>
                                    <div class="dropdown-item" data-value="1" onclick="selectItem(this, 'boxStateMenu', '1')">정상</div>
                                    <div class="dropdown-item" data-value="2" onclick="selectItem(this, 'boxStateMenu', '2')">파손</div>
                                </div>
                                <!-- hidden input 추가 -->
                                <input type="hidden" id="boxStateFilter" value="" />
                            </div>

                            <!-- 진행상태 필터 -->
                            <div class="dropdown-container">
                                <div class="dropdown-select" onclick="toggleDropdown('progressStateMenu')">
                                    진행 상태
                                    <svg class="arrow-icon" width="10" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L5.97126 6L11 1" stroke="#68269E" stroke-width="1.2" stroke-linecap="round"/>
                                    </svg>
                                </div>
                                <div class="dropdown-menu" id="progressStateMenu">
                                    <div class="dropdown-item" data-value="" onclick="selectItem(this, 'progressStateMenu', '')">전체</div>
                                    <div class="dropdown-item" data-value="0" onclick="selectItem(this, 'progressStateMenu', '0')">물품 대기</div>
                                    <div class="dropdown-item" data-value="1" onclick="selectItem(this, 'progressStateMenu', '1')">포장 완료</div>
                                    <div class="dropdown-item" data-value="2" onclick="selectItem(this, 'progressStateMenu', '2')">적재 완료</div>
                                </div>
                                <!-- hidden input 추가 -->
                                <input type="hidden" id="progressStateFilter" value="" />
                            </div>
                        </div>
                        <button class="inquiry-btn" id="filterBtn">조회</button>
                        
                        
                        
                    </div>
                    <!-- 오른쪽 컨트롤 바 -->
                    <div class="right-controls">
                        <!-- 오늘 날짜 표시 -->
                        <div class="date-show" id="currentDate"></div>
                        <div class="date-text">일자 주문</div>

                        <!-- Export 버튼 -->
                        <button class="btn btn-export" id="downloadExcelBtn">
                          <i class="export-icon"></i>
                          Export
                        </button>
                    </div>
                </div>

                <!-- 진행 상태 테이블 -->
                <div class="table-container">
                    <table class="progress-table">
                        <colgroup>
                            <col style="width: 5%"> <!-- order_id -->
                            <col style="width: 30%"> <!-- product_name -->
                            <col style="width: 12%"> <!-- product_category -->
                            <col style="width: 12%"> <!-- box_spec -->
                            <col style="width: 11%"> <!-- pallet_id -->
                            <col style="width: 15%"> <!-- box_state -->
                            <col style="width: 15%"> <!-- progress_state -->
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="align-center">#</th>
                                <th class="align-left">Product Name</th>
                                <th class="align-left">Category</th>
                                <th class="align-center">Box Spec</th>
                                <th class="align-center">Pallet ID</th>
                                <th class="align-center">Box State</th>
                                <th class="align-center">Progress State</th>
                            </tr>
                        </thead>
                        <tbody id="progressTableBody"></tbody>
                    </table>
                </div>

                <!-- 페이지네이션 -->
                <div class="pagination">
                    <button id="prevGroup">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.01488 2.61115C9.07878 2.54353 9.12874 2.46398 9.1619 2.37704C9.19506 2.29011 9.21077 2.1975 9.20814 2.10449C9.20551 2.01149 9.18459 1.91991 9.14657 1.83499C9.10854 1.75007 9.05417 1.67347 8.98654 1.60957C8.91892 1.54566 8.83937 1.4957 8.75243 1.46254C8.6655 1.42938 8.57289 1.41367 8.47988 1.4163C8.38688 1.41893 8.2953 1.43985 8.21038 1.47788C8.12546 1.5159 8.04886 1.57028 7.98496 1.6379L1.96413 8.0129C1.83979 8.14442 1.77051 8.31854 1.77051 8.49953C1.77051 8.68051 1.83979 8.85463 1.96413 8.98615L7.98496 15.3619C8.04844 15.431 8.12502 15.4868 8.21025 15.526C8.29549 15.5653 8.38767 15.5872 8.48145 15.5906C8.57523 15.5939 8.66873 15.5785 8.75654 15.5454C8.84434 15.5123 8.92469 15.4621 8.99291 15.3977C9.06114 15.3332 9.11589 15.2559 9.15397 15.1701C9.19206 15.0844 9.21272 14.9919 9.21476 14.8981C9.21681 14.8043 9.20019 14.711 9.16587 14.6236C9.13156 14.5363 9.08023 14.4567 9.01488 14.3893L3.45304 8.49953L9.01488 2.61115Z" fill="black"/>
                        </svg>
                    </button>
                    <span id="pageNumbers"></span>
                    <button id="nextGroup">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.98512 2.61115C7.92122 2.54353 7.87126 2.46398 7.8381 2.37704C7.80494 2.29011 7.78923 2.1975 7.79186 2.10449C7.79449 2.01149 7.81541 1.91991 7.85343 1.83499C7.89146 1.75007 7.94583 1.67347 8.01346 1.60957C8.08108 1.54566 8.16063 1.4957 8.24757 1.46254C8.3345 1.42938 8.42711 1.41367 8.52012 1.4163C8.61312 1.41893 8.7047 1.43985 8.78962 1.47788C8.87454 1.5159 8.95114 1.57028 9.01504 1.6379L15.0359 8.0129C15.1602 8.14442 15.2295 8.31854 15.2295 8.49953C15.2295 8.68051 15.1602 8.85463 15.0359 8.98615L9.01504 15.3619C8.95156 15.431 8.87498 15.4868 8.78975 15.526C8.70451 15.5653 8.61233 15.5872 8.51855 15.5906C8.42477 15.5939 8.33127 15.5785 8.24346 15.5454C8.15566 15.5123 8.07531 15.4621 8.00709 15.3977C7.93886 15.3332 7.88411 15.2559 7.84603 15.1701C7.80794 15.0844 7.78728 14.9919 7.78524 14.8981C7.78319 14.8043 7.79981 14.711 7.83413 14.6236C7.86844 14.5363 7.91977 14.4567 7.98512 14.3893L13.547 8.49953L7.98512 2.61115Z" fill="black"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<script th:src="@{/js/admin/admin_progress.js}"></script>
</body>
</html>