<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.labs.dao.DashboardRepository">
    
    <!-- ✅ 진행 단계 별 주문 개수 조회 -->
    <select id="getOrderCountByProgressState" parameterType="int" resultType="int">
        SELECT
        	COUNT(*)
        FROM
        	order
        WHERE
        	progress_state = #{progressState}
    </select>
    
    <!-- ✅ 날짜 별 박스 파손률 조회 -->
    <select id="getBoxDamageRateByOrderTime" parameterType="java.time.LocalDateTime" resultType="float">
		SELECT 
		    (COUNT(CASE WHEN box_state = 2 THEN 1 END) / COUNT(*))
		FROM 
		    order
		WHERE
		    DATE(order_time) = #{orderTime}
    </select>
    
    <!-- ✅ 날짜 별 주문 개수 조회 -->
    <select id="getOrderCountByOrderTime" parameterType="java.time.LocalDateTime" resultType="int">
		SELECT
			COUNT(*)
		FROM
			order
		WHERE
			DATE(order_time) = #{orderTime}
		GROUP BY
			DATE(order_time)
    </select>
    
    <!-- ✅ 캠프 별 물품 유동량 조회 -->
    <select id="getOrderCountByDestination" parameterType="String" resultType="int">
        SELECT
        	COUNT(*)
        FROM
        	order
        WHERE
        	destination = #{destination}
    </select>
    
    <!-- ✅ 박스 종류 별 주문 개수 조회 -->
    <select id="getOrderCountBySpec" parameterType="int" resultType="int">
        SELECT
        	COUNT(*)
        FROM
        	order
        WHERE
        	spec = #{spec}
    </select>
    
    <!-- ✅ 진행 단계 별 주문 개수 조회 -->
    <select id="getOrderCountByProgressState5" parameterType="int" resultType="int">
        SELECT
        	COUNT(*)
        FROM
        	order
        WHERE
        	progress_state = #{progressState}
    </select>
    
</mapper>
